<footer>
  <div class="container">
    <nav class="navbar fixed-bottom navbar-light bg-light ">
      <div class="container-fluid">
        <span class="navbar-text mb-0">Copyright © 2024 ipree houhougo</span>
        <div class="spacer"></div>
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item" aria-current="page">
            <a href="#">Privacy Policy</a>
          </li>
          <li class="breadcrumb-item" aria-current="page">
            <a href="#">Terms of Use</a>
          </li>
        </ol>
      </div>
    </nav>
  </div>
</footer>